.card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    width: 15vw; 
}

.foto img {
    width: 15vw; 
}

.datos {
    width: 25vw;
    height: 40px;
    margin-bottom: 20px;
}